<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img
          srcset="
            /images/support-landing-page/product-blends/artdeco/frenchtwist-banner-xs.jpg  576w,
            /images/support-landing-page/product-blends/artdeco/frenchtwist-banner-sm.jpg  768w,
            /images/support-landing-page/product-blends/artdeco/frenchtwist-banner-md.jpg  992w,
            /images/support-landing-page/product-blends/artdeco/frenchtwist-banner-lg.jpg 1200w,
            /images/support-landing-page/product-blends/artdeco/frenchtwist-banner-xl.jpg 1920w
          "
          class="img-fluid"
          sizes="(max-width: 576px) 576px,
            (max-width: 768px) 768px,
            (max-width: 992px) 992px,
            (max-width: 1200px) 1200px,
            (max-width: 1920px) 1920px,
            2500px"
          src="/images/support-landing-page/product-blends/artdeco/frenchtwist-banner-xl.jpg"
          alt="Art Deco"
        />
        <div class="top-center-container">
          <div class="light-text">
            <h1>French Twist</h1>
            <h2>Art Deco</h2>
            <a
              href="/categories?&blnds[]=French+Twist"
              class="btn btn-sm btn-elandel"
            >
              View Blend <i class="fal fa-chevron-right"></i
            ></a>
          </div>
          <!-- .light-text -->
        </div>
        <!-- .top-center-container -->
      </div>
      <!-- .banner -->
    </div>
    <!-- .col-12  -->
  </div>
  <!-- .row  -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row landing-text-container">
    <div class="col-12 landing-text-box">
      <h2>The Art Deco</h2>
      <P class="one-rem-text-desktop" >
        Art Deco is a style of drawing, that relies on bold designs, clear
        lines, vibrant colors and patterns. Therefore, an Art Deco home is
        characterized by intense rich colors, bold geometric shapes, and
        decadent details.
      </P>
      <P class="one-rem-text-desktop" >
        When you think of the roaring ‘20s or ‘30s movie-star glam, Art Deco is
        the style that comes to mind. It exudes an image of glamour, luxury,
        modernism and style. If you are looking for a design that will enhance
        and embellish simple objects in your home, then you are in the right
        place. This deep blue living room allows for the Art Deco style to truly
        pop. The geometric patterns with the wainscoting to the straight lines
        on the crown moulding truly bring this look together.
      </P>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Art Deco living room "
        src="/images/support-landing-page/product-blends/artdeco/frenchtwist-inset-1.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Art Deco Style</h2>
      <p>
        This living room is the epitome of Art Deco Style. Geometric patterns
        along with the large chandelier and gold accents bring the room to life.
        One main element are the doors. They provide a sleek interior look and
        maintain the modern feel throughout the home.
      </p>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->

  <div class="row align-items-center landing-text-container">
    <div class="col-12 text-center">
      <h1 class="pb-4 ">Key Elements</h1>
      <!--ddd  -->
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=French+Twist" class="text-dark">
        <h2>Moulding</h2>
      </a>
      <p>
        The moulding for an Art Deco style is typically white. This enhances the
        pops of color that are throughout the rest of the design. It also
        enhances the geometric shapes by adding straight lines and curves.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <a href="/categories?&blnds[]=French+Twist" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Art Deco Style Moulding"
          src="/images/support-landing-page/product-blends/artdeco/frenchtwist-inset-2.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row d-flex align-items-center landing-text-container">
    <div class="col-12 order-md-2 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=French+Twist" class="text-dark">
        <h2>Doors</h2>
      </a>
      <p>
        Doorways are sometimes surrounded with elaborate pilasters and
        pediments, and the door is normally surrounded by embellishments.
        Although doors may seem simpler than the bolder designs in the room, the
        door can add subtle geometry to any doorway.
      </p>
    </div>
    <div
      class=" order-md-1 col-12 col-md-6 text-center   landing-text-container"
    >
      <a href="/categories?&blnds[]=French+Twist" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Art Deco Style Doors"
          src="/images/support-landing-page/product-blends/artdeco/frenchtwist-inset-3.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>

  <div class="row align-items-center landing-text-container">
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&blnds[]=French+Twist" class="text-dark">
        <h2>Wainscoting</h2>
      </a>
      <p>
        Although wainscoting is also a type of moulding, it deserves to be
        highlighted. Many Art Deco homes accentuate rooms with it to add more
        geometric patterns and enhance the design elements in the home.
        Wainscoting also encourages the symmetry within a room.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <a href="/categories?&blnds[]=French+Twist" class="text-dark">
        <img
          class="featurette-image img-fluid mx-auto"
          alt="Art Deco Style Wainscoting"
          src="/images/support-landing-page/product-blends/artdeco/frenchtwist-inset-4.jpg"
          data-holder-rendered="true"
        />
      </a>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Clean geometric Art Deco Style"
        src="/images/support-landing-page/product-blends/artdeco/frenchtwist-inset-5.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Clean geometric</h2>
      <p>
        Art Deco is all about clean geometric shapes and adding in modern
        elements. This molded panel series Melrose door is the perfect
        integration of modern that this design was looking for.
      </p>
    </div>
    <!-- col-12 -->
  </div>
</div>

<!-- container -->
